@use 'mixins';
@use 'colors';

img {
    margin:0.5em;
    background-color: #000;
    display:inline-block;
    width:100%;
    height:100%;
    overflow: hidden;
}


input[type=text] {
    margin: 0.4em 0 1em 0;
    padding:0.5em;
    width:100%;
    box-sizing: border-box;
    border-radius: 6px;
    border:2.5px solid #aaa;
    @include mixins.transition(border 0.3s ease);
    outline:none;
    &:focus {
        border:2.5px solid #333;
    }
}


form {
    width:100%;

}
label{
    display:block;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border:1px solid #ddd;
    border-left: 0;
    border-right: 0;
    text-align: left;
    padding: 0.8em;
}

th {
    font-weight: bold;
}
.table-dark.table-striped tr:nth-of-type(odd) {
    background-color: lighten(colors.$dark-color, 6%)!important;
}
.table-light.table-striped tr:nth-of-type(odd) {
    background-color: colors.$light-color!important;
}

.table-primary {
    background-color: colors.$primary-color;
    color:#fff;
}

.table-secondary {
    background-color: colors.$secondary-color;
    color:#000;
}

.table-light {
    background-color: #fff;
    color:#000;
}

.table-dark {
    background-color: colors.$dark-color;
    color:#fff;
}



//Alerts

.alert {
    width:100%;
    padding:1em;
    box-sizing: border-box;
    border-radius: 5px;

}

.alert-primary {
    background-color: colors.$primary-color;
    color:#fff;
}
.alert-secondary {
    background-color: colors.$secondary-color;
    color:#000;
}
.alert-success {
    background-color: colors.$success-color;
    color:#fff;
}
.alert-danger {
    background-color: colors.$danger-color;
    color:#fff;
}
.alert-light {
    background-color: colors.$light-color;
    color:#000;
}
.alert-dark {
    background-color: colors.$dark-color;
    color:#fff;
    .close {
        color:#fff;
    }
}
.alert-closable {
    position: relative;
    @include mixins.transition(opacity 0.3s ease);
}

.close {
    position: absolute;
    top:0;
    right:0;
    float:right;
    width:100%;
    height:100%;
    max-width:4em;
    max-height:4em;
    background-color: #0000;
    font-size: 1.1em;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    border:none;
    opacity:0.5;
    @include mixins.transition(opacity 0.3s ease);
    &:hover {
        opacity:0.9;
    }
    &:focus, &:active {
        outline:0;
    }
}



//Modals

.modal {
    display:none;
    position:fixed;
    z-index:75;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: #0003;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border:1px solid #888;
    width:80%;
    position: relative;
}
.modal-body {
    padding:2em;
}
.modal-header {
    padding:1em 2em;

    &.dark {
        background-color: colors.$dark-color;
        color:#fff;

        .modal-close {
            color:#fff;
        }
    }
}


.modal-close {
    position: absolute;
    top:1em;
    right:1em;
    color: #000;
    opacity: 0.4;
    font-size: 1.1em;
    font-weight: bold;
    @include mixins.transition(opacity 0.3s ease);
    &:hover, &:focus {
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
    }
}




//Tooltip
%base-arrow {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.tooltip {
    position:relative;
    display:inline-block;
    width:auto;
    cursor: pointer;
    .tooltip-text {
        opacity: 0;
        background-color:colors.$dark-color;
        color:#fff;
        white-space: nowrap;
        text-align: center;
        border-radius: 5px;
        padding:0.3em 0.8em;
        position: absolute;
        z-index: 50;
        @include mixins.transition(opacity 0.3s ease);
    }
    &:hover .tooltip-text {
        opacity: 1;
    }

    &.top .tooltip-text {
        transform: translate(-50%, 0);
        bottom: 130%;
        left: 50%;
        &::after {
            @extend %base-arrow;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-color:colors.$dark-color transparent transparent transparent;
          }
    }
    &.bottom .tooltip-text {
        transform: translate(-50%, 0);
        top:  130%;
        left: 50%;
        &::after {
            @extend %base-arrow;
            bottom: 100%;  
            left: 50%;
            margin-left: -5px;
            border-color: transparent transparent colors.$dark-color transparent;
          }
    }
    &.left .tooltip-text {
        top:-30%;
        right: 110%;
        &::after {
            @extend %base-arrow;
            top: 50%;
            left: 100%; 
            margin-top: -5px;
            border-color: transparent transparent transparent colors.$dark-color;
          }
    }
    &.right .tooltip-text {
        top:-30%;
        left: 110%;
        &::after {
            @extend %base-arrow;
            top: 50%;
            right: 100%; 
            margin-top: -5px;
            border-color: transparent colors.$dark-color transparent transparent;
          }
    }
}




//Slideshow 

.slideshow {
    position: relative;
    overflow:hidden;
    width:100%;
    box-sizing: border-box;
    height:300px;
}

.slideshow-indicators {
    position: absolute;
    z-index:10;
    right:0;
    bottom:20px;
    left:0;
    justify-content: center;
    text-align: center;

    div {
        display:inline-block;
        width:10px;
        height:10px;
        border-radius: 100%;
        background-color: #fff;
        opacity: 0.6;
        @include mixins.transition(opacity 0.3s ease);
        &.active {
            opacity: 1;
        }
    }
}


.slideshow-inner {
    box-sizing: border-box;
    width:100%;
    height:100%;
    position: relative;
    &::after {
        display:block;
        clear:both;
        content: "";
    }
}

.slideshow-item {
    box-sizing: border-box;
    position: absolute;
    display:none;
    width:100%;
    height:100%;
    transition-duration: 0.5s;
    &.active {
        display:block;

    }
    &.next {
        left:100%;
        display:block;
    }
    &.previous {
        transform: translateX(-100%);
        
    }
}

.slideshow-navbtn {
    position: absolute;
    top:0;
    bottom:0;
    z-index:3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    width:10%;
    cursor: pointer;
    opacity: 0.6;
    @include mixins.transition(opacity 0.3s ease);
    &:hover {
        opacity: 1;
    }

    &.left {
        left:0;
    }
    &.right {
        right:0;
    }
}