@use 'sass:math';
@use 'colors';
@use 'mixins';

//Grid



.row {
    display:flex;
    width: 100%;
    box-sizing: border-box;
}
.content-horizontal-align-left {
    justify-content: flex-start!important;
}
.content-horizontal-align-center {
    justify-content: center!important;
}
.content-horizontal-align-right {
    justify-content: flex-end!important;
}
.content-space-between {
    justify-content: space-between!important;
}

.content-vertical-align-top {
    align-items: flex-start!important;
}
.content-vertical-align-center {
    align-items: center!important;
}
.content-vertical-align-bottom {
    align-items: flex-end!important;
}

.self-horizontal-align-center {
    margin:auto;
}

.text-horizontal-align-center {
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}

.col {
    flex: 1;
    max-width: 100%;
}

.col-1 {
    flex: 0 0 math.percentage(1/6);
    max-width: math.percentage(1/6);
}
.col-2 {
    flex: 0 0 math.percentage(1/3);
    max-width: math.percentage(1/3);
}
.col-3 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-4 {
    flex: 0 0 math.percentage(2/3);
    max-width: math.percentage(2/3);
}
.col-5 {
    flex: 0 0 math.percentage(5/6);
    max-width: math.percentage(5/6);
}
.col-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
@media all and (max-width:650px) {
    .row{
        flex-wrap: wrap;
    }
    .col-1 {
        flex: 0 0 math.percentage(1/3);
        max-width: math.percentage(1/3);
    }
    .col-2 {
        flex: 0 0 math.percentage(2/3);
        max-width: math.percentage(2/3);
    }
    .col-3, .col-4, .col-5, .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


//Container
%base-container {
    color:#000;
    background-color: #fff;
    padding:1em 0.5em;
}

.container {
    @extend %base-container;
}

.bordered-container {
    @extend %base-container;
    border:2px solid #000;
    box-sizing: border-box;
}



//Code 
.b {
    color: colors.$code-bracket-color;
}
.n{
    color: colors.$code-name-color;
}
.kw {
    color: colors.$code-keyword-color;
}

pre{
    background-color: colors.$code-bg-color;
    padding:2em;
    overflow: scroll;
}
pre, code {
    font-family: "Courier New", Courier, monospace;
}
code {
    background-color: colors.$code-bg-color;
}


//Header

header {
    width:100%;
    background-color: #fff;
    margin:0;
    padding:2em;
    text-align: center;
    box-sizing: border-box;
}

footer.footer-primary, header.header-primary {
    background-color: colors.$primary-color;
    color:#fff;
}

footer.footer-secondary, header.header-secondary {
    background-color: colors.$secondary-color;
    color:#000;
}
footer.footer-light, header.header-light {
    background-color: #fff;
    color:#000;
}

footer.footer-dark, header.header-dark {
    background-color: colors.$dark-color;
    color:#fff;
}




//Footer


footer {
    width:100%;
    background-color: #fff;
    margin:0;
    padding:2em;
    text-align: center;
    box-sizing: border-box;
}

