@use 'colors';
@use 'mixins';

nav {
    position:relative;
    top:0;
    z-index: 10;
    width:100%;
    padding:0 1em;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    background-color: #fff;
    &.nav-fixed {
        position: fixed;
    }
}


.navbar-brand {
    font-size: 1.3em;
    margin:0 1em 0 0.5em;
}
.navbar-nav {
    display:flex;
    flex-direction: row;
    list-style: none;
    margin-left:0;
}
.nav-item .active {
    font-weight: bold;
} 
.nav-link {
    display:block;
    padding:1.2em 0.7em;
}
nav a {
    text-decoration: none;
    color:inherit!important;
}

.navbar-primary {
    background-color: colors.$primary-color;
    color:#fff;
}
.navbar-primary .nav-link {
    @include mixins.transition(background-color 0.2s ease);
    &:hover {
        background-color: darken(colors.$primary-color, 5%);
    }
}
.navbar-secondary {
    background-color: colors.$secondary-color;
    color:#000;
}
.navbar-secondary .nav-link {
    @include mixins.transition(background-color 0.2s ease);
    &:hover {
        background-color: darken(colors.$secondary-color, 10%);
    }
}
.navbar-light {
    background-color: colors.$light-color;
    color:#000;
}
.navbar-light .nav-link {
    @include mixins.transition(background-color 0.2s ease);
    &:hover {
        background-color: darken(colors.$light-color, 10%);
    }
}
.navbar-dark {
    background-color: colors.$dark-color;
    color:#fff;
}
.navbar-dark .nav-link {
    @include mixins.transition(background-color 0.2s ease);
    &:hover {
        background-color: lighten(colors.$dark-color, 9%);
    }
}








//side-nav

.side-nav{
    background-color: colors.$code-bg-color;
    height:100vh;
    width:12em;
    position: fixed;
    z-index: 5;
    padding:0.5em;
    box-sizing: border-box;
    h5,h6 {
        padding: 0.25em 0;
    }
    overflow-x:hidden;
}

.body-side-nav {
    display:grid;
    grid-template-columns: 12em auto;
    .body-section, header, footer {
        grid-column: 2;
    }
}

.side-nav .link {
    padding:0.3em 0.7em;
    text-decoration: none!important;
    color:#333!important;
    @include mixins.transition(background-color 0.1s ease);
    &:hover {
        background-color: darken(colors.$code-bg-color, 10);
    }
    &.nested {
        padding:0.3em 1.1em;
    }
}
.side-nav .head-link {
    padding:0.2em 0.5em;
    text-decoration: none!important;
    color:black!important;
}

